<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangyi.module_android">

    <application android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".AndroidActivity" />
        <activity android:name=".demo_md.ToolBarActivity" />
        <activity android:name=".demo_rxbinding.RxClicksActivity" />
        <activity android:name=".demo_rxbinding.RxLongClicksActivity" />
        <activity android:name=".demo_rxbinding.RxCheckedChangesActivity" />
        <activity android:name=".demo_rxbinding.RxFormValidationActivity" />
        <activity android:name=".demo_rxbinding.RxCountdownActivity" />
        <activity android:name=".demo_rxbinding.RxSearchActivity" />
        <activity android:name=".demo_rxbinding.RxDelayActivity" />
        <activity android:name=".demo_rxbinding.RxPollActivity" />
        <activity android:name=".demo_x5.X5TBSActivity" />
    </application>

</manifest>